In [1]:
import pandas as pd
import psycopg2
from faker import Faker
import random
from sqlalchemy import create_engine

## Загрузка данных из датасетов
Загрузим данные из двух датасетов: с данными о получении заказа курьером и с данными о самих доставках получателям

In [2]:
data_delivery = pd.read_csv('data/amazon_delivery.csv')
data_delivery.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys

In [3]:
items_data = [
    # Техника
    ("Смартфон", "Современный смартфон с отличной камерой", 45000.00, 0.20, 15.0, 7.0, 0.8),
    ("Ноутбук", "Мощный ноутбук для работы и игр", 85000.00, 2.30, 35.0, 25.0, 2.0),
    ("Наушники", "Беспроводные наушники с шумоподавлением", 12000.00, 0.30, 20.0, 18.0, 5.0),
    ("Телевизор", "4K телевизор с диагональю 55 дюймов", 120000.00, 15.00, 120.0, 70.0, 7.0),
    ("Планшет", "Тонкий и лёгкий планшет", 30000.00, 0.50, 25.0, 17.0, 0.7),
    ("Клавиатура", "Механическая клавиатура", 5000.00, 0.80, 45.0, 18.0, 3.0),
    ("Мышь", "Беспроводная игровая мышь", 3000.00, 0.15, 12.0, 7.0, 4.0),
    ("Колонка", "Портативная Bluetooth-колонка", 8000.00, 0.50, 15.0, 10.0, 8.0),
    ("Зарядное устройство", "Быстрая зарядка USB-C", 2000.00, 0.10, 10.0, 5.0, 1.0),
    ("Монитор", "27-дюймовый игровой монитор", 35000.00, 4.50, 60.0, 40.0, 5.0),

    # Мебель
    ("Стул", "Удобный офисный стул", 8000.00, 5.00, 60.0, 60.0, 90.0),
    ("Стол", "Деревянный обеденный стол", 25000.00, 20.00, 120.0, 70.0, 75.0),
    ("Диван", "Угловой диван для гостиной", 65000.00, 50.00, 220.0, 90.0, 85.0),
    ("Шкаф", "Шкаф для одежды", 35000.00, 40.00, 180.0, 60.0, 200.0),
    ("Кровать", "Двуспальная кровать", 50000.00, 60.00, 200.0, 150.0, 50.0),
    ("Полка", "Настенная полка", 3000.00, 3.00, 100.0, 20.0, 2.0),
    ("Кресло", "Кресло-мешок", 12000.00, 8.00, 80.0, 80.0, 80.0),
    ("Комод", "Комод с 5 ящиками", 20000.00, 30.00, 100.0, 50.0, 80.0),
    ("Тумба", "Прикроватная тумба", 7000.00, 10.00, 50.0, 40.0, 45.0),
    ("Кухонный стол", "Компактный кухонный стол", 15000.00, 15.00, 80.0, 80.0, 75.0),

    # Одежда
    ("Футболка", "Хлопковая футболка", 1500.00, 0.20, 30.0, 25.0, 1.0),
    ("Джинсы", "Классические джинсы", 3500.00, 0.80, 80.0, 40.0, 2.0),
    ("Куртка", "Зимняя куртка", 12000.00, 1.50, 70.0, 50.0, 5.0),
    ("Шапка", "Шерстяная шапка", 1000.00, 0.10, 25.0, 25.0, 1.0),
    ("Перчатки", "Теплые перчатки", 800.00, 0.05, 20.0, 10.0, 0.5),
    ("Обувь", "Кроссовки", 6000.00, 0.80, 30.0, 20.0, 12.0),
    ("Платье", "Летнее платье", 4000.00, 0.30, 60.0, 50.0, 2.0),
    ("Рубашка", "Деловая рубашка", 2500.00, 0.30, 70.0, 40.0, 2.0),
    ("Костюм", "Деловой костюм", 20000.00, 1.20, 80.0, 60.0, 5.0),
    ("Свитер", "Шерстяной свитер", 5000.00, 0.60, 60.0, 50.0, 3.0),

    # Книги
    ("Книга", "Роман 'Война и мир'", 1000.00, 0.50, 20.0, 14.0, 3.0),
    ("Журнал", "Журнал 'National Geographic'", 500.00, 0.20, 25.0, 18.0, 0.5),
    ("Блокнот", "Блокнот A5", 300.00, 0.10, 20.0, 15.0, 1.0),
    ("Ручка", "Гелевая ручка", 100.00, 0.02, 14.0, 1.0, 1.0),
    ("Карандаш", "Механический карандаш", 200.00, 0.03, 14.0, 1.0, 1.0),
    ("Альбом", "Альбом для рисования", 400.00, 0.20, 30.0, 21.0, 1.0),
    ("Словарь", "Толковый словарь", 1200.00, 0.80, 22.0, 15.0, 3.0),
    ("Календарь", "Настольный календарь", 600.00, 0.15, 15.0, 15.0, 2.0),
    ("Книжка-раскраска", "Для детей", 250.00, 0.10, 20.0, 20.0, 1.0),
    ("Учебник", "Алгебра 9 класс", 800.00, 0.60, 22.0, 15.0, 2.0),

    # Еда
    ("Хлеб", "Батон нарезной", 50.00, 0.40, 30.0, 10.0, 10.0),
    ("Молоко", "Молоко 1 литр", 100.00, 1.00, 10.0, 10.0, 20.0),
    ("Яйца", "Яйца куриные 10 шт.", 150.00, 0.60, 15.0, 10.0, 10.0),
    ("Сахар", "Сахар-песок 1 кг", 80.00, 1.00, 15.0, 10.0, 20.0),
    ("Масло", "Сливочное масло 200 г", 200.00, 0.20, 10.0, 5.0, 10.0),
    ("Чай", "Чёрный чай 100 г", 120.00, 0.10, 10.0, 7.0, 15.0),
    ("Кофе", "Молотый кофе 250 г", 400.00, 0.25, 10.0, 7.0, 15.0),
    ("Сыр", "Сыр твёрдый 400 г", 300.00, 0.40, 15.0, 10.0, 5.0),
    ("Мясо", "Куриная грудка 1 кг", 350.00, 1.00, 20.0, 10.0, 5.0),
    ("Овощи", "Картофель 2 кг", 100.00, 2.00, 25.0, 20.0, 10.0),

    # Спорт
    ("Мяч", "Футбольный мяч", 2000.00, 0.40, 22.0, 22.0, 22.0),
    ("Велосипед", "Горный велосипед", 45000.00, 15.00, 180.0, 80.0, 100.0),
    ("Гантели", "Гантели 5 кг", 8000.00, 10.00, 30.0, 15.0, 15.0),
    ("Коврик", "Коврик для йоги", 2000.00, 0.50, 180.0, 60.0, 1.0),
    ("Ракетка", "Теннисная ракетка", 5000.00, 0.30, 70.0, 25.0, 5.0),
    ("Ролики", "Ролики для прогулок", 8000.00, 3.00, 40.0, 30.0, 15.0),
    ("Рюкзак", "Спортивный рюкзак", 3000.00, 0.80, 50.0, 30.0, 25.0),
    ("Скакалка", "Скакалка с шариками", 500.00, 0.10, 100.0, 5.0, 5.0),
    ("Гимнастический шар", "Фитнес-шар", 4000.00, 2.00, 75.0, 75.0, 75.0),
    ("Спортивное питание", "Протеин 500 г", 1500.00, 0.50, 20.0, 10.0, 20.0),

    # Прочее
    ("Зонт", "Складной зонт", 1000.00, 0.30, 60.0, 10.0, 3.0),
    ("Сумка", "Повседневная сумка", 2500.00, 0.70, 40.0, 30.0, 20.0),
    ("Часы", "Наручные часы", 15000.00, 0.10, 4.0, 4.0, 1.0),
    ("Косметика", "Тональный крем", 2000.00, 0.10, 10.0, 5.0, 5.0),
    ("Акварель", "Набор акварельных красок", 1200.00, 0.20, 20.0, 15.0, 3.0),
    ("Пазл", "Пазл 1000 элементов", 1500.00, 0.50, 30.0, 20.0, 5.0),
    ("Кукла", "Плюшевая кукла", 3000.00, 0.40, 30.0, 20.0, 10.0),
    ("Конструктор", "Конструктор LEGO", 5000.00, 0.80, 35.0, 25.0, 5.0),
    ("Карта", "Карта мира", 800.00, 0.10, 70.0, 50.0, 0.1),
    ("Книжная подставка", "Деревянная подставка", 1000.00, 0.50, 30.0, 20.0, 10.0),
    ("Настольная лампа", "Светодиодная лампа", 3000.00, 1.00, 20.0, 15.0, 30.0),
    ("Фоторамка", "Фоторамка 10x15", 500.00, 0.20, 15.0, 10.0, 2.0),
    ("Картина", "Картина маслом", 10000.00, 2.00, 60.0, 40.0, 3.0),
    ("Набор посуды", "Сервировка на 6 персон", 8000.00, 3.00, 40.0, 30.0, 20.0),
    ("Ковер", "Ковер 2x3 м", 15000.00, 5.00, 200.0, 300.0, 1.0),
    ("Подушка", "Ортопедическая подушка", 3000.00, 0.80, 60.0, 40.0, 10.0),
    ("Одеяло", "Шерстяное одеяло", 7000.00, 2.00, 150.0, 200.0, 5.0),
    ("Нож", "Набор ножей", 4000.00, 1.00, 30.0, 10.0, 5.0),
    ("Тарелка", "Фарфоровая тарелка", 500.00, 0.30, 25.0, 25.0, 2.0),
    ("Кружка", "Керамическая кружка", 400.00, 0.20, 10.0, 10.0, 10.0),
    ("Сковорода", "Чугунная сковорода", 3000.00, 2.00, 30.0, 30.0, 5.0),
    ("Кастрюля", "Кастрюля 3 литра", 2500.00, 1.50, 25.0, 25.0, 15.0),
    ("Микроволновка", "Современная микроволновка", 12000.00, 15.00, 50.0, 35.0, 30.0),
    ("Холодильник", "Мини-холодильник", 30000.00, 30.00, 55.0, 50.0, 50.0),
    ("Утюг", "Паровой утюг", 5000.00, 2.00, 30.0, 15.0, 15.0),
    ("Пылесос", "Робот-пылесос", 25000.00, 5.00, 35.0, 35.0, 10.0),
    ("Чайник", "Электрический чайник", 3000.00, 1.00, 20.0, 15.0, 20.0),
]
len(items_data)

87

In [19]:
items_data = [
    # Electronics
    ("Smartphone", "Modern smartphone with an excellent camera", 45000.00, 0.20, 15.0, 7.0, 0.8),
    ("Laptop", "Powerful laptop for work and gaming", 85000.00, 2.30, 35.0, 25.0, 2.0),
    ("Headphones", "Wireless noise-cancelling headphones", 12000.00, 0.30, 20.0, 18.0, 5.0),
    ("TV", "55-inch 4K television", 120000.00, 15.00, 120.0, 70.0, 7.0),
    ("Tablet", "Thin and lightweight tablet", 30000.00, 0.50, 25.0, 17.0, 0.7),
    ("Keyboard", "Mechanical keyboard", 5000.00, 0.80, 45.0, 18.0, 3.0),
    ("Mouse", "Wireless gaming mouse", 3000.00, 0.15, 12.0, 7.0, 4.0),
    ("Speaker", "Portable Bluetooth speaker", 8000.00, 0.50, 15.0, 10.0, 8.0),
    ("Charger", "Fast USB-C charger", 2000.00, 0.10, 10.0, 5.0, 1.0),
    ("Monitor", "27-inch gaming monitor", 35000.00, 4.50, 60.0, 40.0, 5.0),

    # Furniture
    ("Chair", "Comfortable office chair", 8000.00, 5.00, 60.0, 60.0, 90.0),
    ("Table", "Wooden dining table", 25000.00, 20.00, 120.0, 70.0, 75.0),
    ("Sofa", "Corner sofa for the living room", 65000.00, 50.00, 220.0, 90.0, 85.0),
    ("Wardrobe", "Clothing wardrobe", 35000.00, 40.00, 180.0, 60.0, 200.0),
    ("Bed", "Double bed", 50000.00, 60.00, 200.0, 150.0, 50.0),
    ("Shelf", "Wall-mounted shelf", 3000.00, 3.00, 100.0, 20.0, 2.0),
    ("Bean Bag", "Bean bag chair", 12000.00, 8.00, 80.0, 80.0, 80.0),
    ("Chest of Drawers", "5-drawer chest", 20000.00, 30.00, 100.0, 50.0, 80.0),
    ("Nightstand", "Bedside nightstand", 7000.00, 10.00, 50.0, 40.0, 45.0),
    ("Kitchen Table", "Compact kitchen table", 15000.00, 15.00, 80.0, 80.0, 75.0),

    # Clothing
    ("T-shirt", "Cotton T-shirt", 1500.00, 0.20, 30.0, 25.0, 1.0),
    ("Jeans", "Classic jeans", 3500.00, 0.80, 80.0, 40.0, 2.0),
    ("Jacket", "Winter jacket", 12000.00, 1.50, 70.0, 50.0, 5.0),
    ("Hat", "Wool hat", 1000.00, 0.10, 25.0, 25.0, 1.0),
    ("Gloves", "Warm gloves", 800.00, 0.05, 20.0, 10.0, 0.5),
    ("Sneakers", "Casual sneakers", 6000.00, 0.80, 30.0, 20.0, 12.0),
    ("Dress", "Summer dress", 4000.00, 0.30, 60.0, 50.0, 2.0),
    ("Shirt", "Business shirt", 2500.00, 0.30, 70.0, 40.0, 2.0),
    ("Suit", "Business suit", 20000.00, 1.20, 80.0, 60.0, 5.0),
    ("Sweater", "Wool sweater", 5000.00, 0.60, 60.0, 50.0, 3.0),

    # Books & Stationery
    ("Book", "Novel 'War and Peace'", 1000.00, 0.50, 20.0, 14.0, 3.0),
    ("Magazine", "National Geographic magazine", 500.00, 0.20, 25.0, 18.0, 0.5),
    ("Notebook", "A5 notebook", 300.00, 0.10, 20.0, 15.0, 1.0),
    ("Pen", "Gel pen", 100.00, 0.02, 14.0, 1.0, 1.0),
    ("Pencil", "Mechanical pencil", 200.00, 0.03, 14.0, 1.0, 1.0),
    ("Sketchbook", "Drawing sketchbook", 400.00, 0.20, 30.0, 21.0, 1.0),
    ("Dictionary", "Explanatory dictionary", 1200.00, 0.80, 22.0, 15.0, 3.0),
    ("Calendar", "Desktop calendar", 600.00, 0.15, 15.0, 15.0, 2.0),
    ("Coloring Book", "For kids", 250.00, 0.10, 20.0, 20.0, 1.0),
    ("Textbook", "Algebra textbook, Grade 9", 800.00, 0.60, 22.0, 15.0, 2.0),

    # Food
    ("Bread", "Sliced loaf", 50.00, 0.40, 30.0, 10.0, 10.0),
    ("Milk", "1 liter milk", 100.00, 1.00, 10.0, 10.0, 20.0),
    ("Eggs", "10 chicken eggs", 150.00, 0.60, 15.0, 10.0, 10.0),
    ("Sugar", "1 kg granulated sugar", 80.00, 1.00, 15.0, 10.0, 20.0),
    ("Butter", "200g butter", 200.00, 0.20, 10.0, 5.0, 10.0),
    ("Tea", "100g black tea", 120.00, 0.10, 10.0, 7.0, 15.0),
    ("Coffee", "250g ground coffee", 400.00, 0.25, 10.0, 7.0, 15.0),
    ("Cheese", "400g hard cheese", 300.00, 0.40, 15.0, 10.0, 5.0),
    ("Meat", "1 kg chicken breast", 350.00, 1.00, 20.0, 10.0, 5.0),
    ("Vegetables", "2 kg potatoes", 100.00, 2.00, 25.0, 20.0, 10.0),

    # Sports
    ("Ball", "Football", 2000.00, 0.40, 22.0, 22.0, 22.0),
    ("Bicycle", "Mountain bike", 45000.00, 15.00, 180.0, 80.0, 100.0),
    ("Dumbbells", "5 kg dumbbells", 8000.00, 10.00, 30.0, 15.0, 15.0),
    ("Yoga Mat", "Yoga mat", 2000.00, 0.50, 180.0, 60.0, 1.0),
    ("Racket", "Tennis racket", 5000.00, 0.30, 70.0, 25.0, 5.0),
    ("Roller Skates", "Recreational roller skates", 8000.00, 3.00, 40.0, 30.0, 15.0),
    ("Backpack", "Sports backpack", 3000.00, 0.80, 50.0, 30.0, 25.0),
    ("Jump Rope", "Beaded jump rope", 500.00, 0.10, 100.0, 5.0, 5.0),
    ("Exercise Ball", "Fitness ball", 4000.00, 2.00, 75.0, 75.0, 75.0),
    ("Protein Powder", "500g protein supplement", 1500.00, 0.50, 20.0, 10.0, 20.0),

    # Other
    ("Umbrella", "Folding umbrella", 1000.00, 0.30, 60.0, 10.0, 3.0),
    ("Bag", "Everyday handbag", 2500.00, 0.70, 40.0, 30.0, 20.0),
    ("Watch", "Wristwatch", 15000.00, 0.10, 4.0, 4.0, 1.0),
    ("Makeup", "Foundation cream", 2000.00, 0.10, 10.0, 5.0, 5.0),
    ("Watercolors", "Watercolor paint set", 1200.00, 0.20, 20.0, 15.0, 3.0),
    ("Puzzle", "1000-piece jigsaw puzzle", 1500.00, 0.50, 30.0, 20.0, 5.0),
    ("Doll", "Plush toy doll", 3000.00, 0.40, 30.0, 20.0, 10.0),
    ("Construction Set", "LEGO building set", 5000.00, 0.80, 35.0, 25.0, 5.0),
    ("Map", "World map", 800.00, 0.10, 70.0, 50.0, 0.1),
    ("Book Stand", "Wooden book holder", 1000.00, 0.50, 30.0, 20.0, 10.0),
    ("Desk Lamp", "LED desk lamp", 3000.00, 1.00, 20.0, 15.0, 30.0),
    ("Photo Frame", "10x15 photo frame", 500.00, 0.20, 15.0, 10.0, 2.0),
    ("Painting", "Oil painting", 10000.00, 2.00, 60.0, 40.0, 3.0),
    ("Dinnerware Set", "6-piece tableware set", 8000.00, 3.00, 40.0, 30.0, 20.0),
    ("Carpet", "2x3 m carpet", 15000.00, 5.00, 200.0, 300.0, 1.0),
    ("Pillow", "Orthopedic pillow", 3000.00, 0.80, 60.0, 40.0, 10.0),
    ("Blanket", "Wool blanket", 7000.00, 2.00, 150.0, 200.0, 5.0),
    ("Knife Set", "Kitchen knife set", 4000.00, 1.00, 30.0, 10.0, 5.0),
    ("Plate", "Porcelain plate", 500.00, 0.30, 25.0, 25.0, 2.0),
    ("Mug", "Ceramic mug", 400.00, 0.20, 10.0, 10.0, 10.0),
    ("Frying Pan", "Cast iron frying pan", 3000.00, 2.00, 30.0, 30.0, 5.0),
    ("Pot", "3-liter cooking pot", 2500.00, 1.50, 25.0, 25.0, 15.0),
    ("Microwave", "Modern microwave oven", 12000.00, 15.00, 50.0, 35.0, 30.0),
    ("Mini Fridge", "Compact refrigerator", 30000.00, 30.00, 55.0, 50.0, 50.0),
    ("Iron", "Steam iron", 5000.00, 2.00, 30.0, 15.0, 15.0),
    ("Vacuum Cleaner", "Robot vacuum cleaner", 25000.00, 5.00, 35.0, 35.0, 10.0),
    ("Kettle", "Electric kettle", 3000.00, 1.00, 20.0, 15.0, 20.0),
]

len(items_data)

87

In [4]:
data_users = pd.read_csv('data/users.csv')
data_users.head()

   user_id birth_date     sex
0    10597   24/05/91    male
1     4521   21/07/94  female
2     5778   09/01/92    male
3     8636   05/05/97  female
4    15773   16/08/90    male

In [5]:
data_couriers = pd.read_csv('data/couriers.csv')
data_couriers.head()

   courier_id birth_date     sex
0           1   11/06/81  female
1           2   27/06/91    male
2           3   04/05/94    male
3           4   02/06/99    male
4           5   22/12/98  female

In [6]:
data_orders = pd.read_csv('data/orders.csv')
data_orders.head()

   order_id   creation_time       product_ids
0         1  24/08/22 01:52          [65, 28]
1         2  24/08/22 06:37  [35, 30, 42, 34]
2         3  24/08/22 07:35      [24, 70, 77]
3         4  24/08/22 10:39      [72, 40, 20]
4         5  24/08/22 12:34              [48]

In [7]:
data_products = pd.read_csv('data/products.csv')
data_products.head()

   product_id                     name  price
0           1                    сахар    150
1           2  чай зеленый в пакетиках     50
2           3      вода негазированная     80
3           4                  леденцы     46
4           5               кофе 3 в 1     15

In [25]:
print(data_products)

    product_id                     name  price
0            1                    сахар    150
1            2  чай зеленый в пакетиках     50
2            3      вода негазированная     80
3            4                  леденцы     46
4            5               кофе 3 в 1     15
..         ...                      ...    ...
82          83                    вафли     55
83          84                мандарины     90
84          85                  варенье    200
85          86            кофе холодный     70
86          87                 телятина    398

[87 rows x 3 columns]

In [7]:
data_user_actions = pd.read_csv('data/user_actions.csv')
data_user_actions.head()

   user_id  order_id        action            time
0        1         1  create_order  24/08/22 01:52
1        2         2  create_order  24/08/22 06:37
2        3         3  create_order  24/08/22 07:35
3        4         4  create_order  24/08/22 10:39
4        5         5  create_order  24/08/22 12:34

In [8]:
data_courier_actions = pd.read_csv('data/courier_actions.csv')
data_courier_actions.head()

   courier_id  order_id         action            time
0          12         1   accept_order  24/08/22 01:52
1          12         1  deliver_order  24/08/22 02:15
2         156         2   accept_order  24/08/22 06:37
3         156         2  deliver_order  24/08/22 06:56
4          49         3   accept_order  24/08/22 07:35

Для примера возьмем 5000 случайных записей из `data_pickup`, после чего возьмем информацию по доставкам только тех же самых заказов

In [5]:
sample_pickup = data_pickup.sample(5000)

In [6]:
sample_delivery = data_delivery[data_delivery['order_id'].isin(sample_pickup['order_id'])]

Настроим подключение к БД и проверим вывод строк

In [30]:
# Подключение к БД
conn = psycopg2.connect(
    host="localhost",
    database="logitrack",
    user="postgres",
    password="admin"
)
cursor = conn.cursor()

In [14]:
# Запрос
cursor.execute("SELECT * FROM roles;")

# Получение всех строк
rows = cursor.fetchall()

# Вывод
for row in rows:
    print(row)

(1, 'admin', 'Manage users, settings, and system directories')
(2, 'operator', 'Create orders, assign couriers, monitor deliveries')
(3, 'courier', 'Make deliveries and update order statuses')
(4, 'client', 'Create orders and track their status')

Данные из запроса SQL сразу в pandas dataframe:

In [13]:
# Создание строки подключения
engine = create_engine(
    'postgresql+psycopg2://postgres:admin@localhost/logitrack'
)

# Загрузка данных в DataFrame
df = pd.read_sql("SELECT * FROM delivery_system.roles;", con=engine)
df.head()

   role_id role_name                                        description
0        1     admin     Manage users, settings, and system directories
1        2  operator  Create orders, assign couriers, monitor delive...
2        3   courier          Make deliveries and update order statuses
3        4    client               Create orders and track their status

## Заполняем таблицы в БД

In [9]:
# Инициализация Faker (на английском)
fake = Faker()

# Подключение к БД
conn = psycopg2.connect(
    host="localhost",
    database="logitrack",
    user="postgres",
    password="admin"
)
cursor = conn.cursor()

In [32]:
# statuses
statuses = [
    'created', 'in_transit', 'delivered', 'cancelled',
    'pending', 'returned', 'processing'
]
for status in statuses:
    cursor.execute("INSERT INTO statuses (status_name) VALUES (%s) ON CONFLICT DO NOTHING;", (status,))

conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [36]:
# Заполнение справочника типов локаций
location_types = ['store', 'delivery_point']

for loc_type in location_types:
    cursor.execute("""
        INSERT INTO location_types (location_type)
        VALUES (%s)
        ON CONFLICT DO NOTHING;
    """, (loc_type,))

conn.commit()

In [18]:
# ========================================
# Функция: генерировать уникальный email
# ========================================
def generate_unique_email(base_email):
    counter = 1
    original_email = base_email
    while True:
        cursor.execute("SELECT 1 FROM users WHERE email = %s;", (base_email,))
        if not cursor.fetchone():
            return base_email
        local_part, domain = base_email.split('@')
        base_local = local_part.rstrip('0123456789')  # убираем цифры в конце
        base_email = f"{base_local}{counter}@{domain}"
        counter += 1

# ========================================
# 1. Создание админов (role_id = 1)
# ========================================
for i in range(5):  # например, 5 админов
    full_name = fake.name()
    base_email = full_name.lower().replace(' ', '').replace('.', '') + '@logitrack.com'
    email = generate_unique_email(base_email)
    phone = fake.numerify(text='+7' + '#' * 10)
    password_hash = "pbkdf2:sha256:260000$..."
    role_id = 1  # admin
    cursor.execute("""
        INSERT INTO users (full_name, email, phone, password_hash, role_id)
        VALUES (%s, %s, %s, %s, %s);
    """, (full_name, email, phone, password_hash, role_id))

# ========================================
# 2. Создание операторов (role_id = 2)
# ========================================
for i in range(100):  # 100 операторов
    full_name = fake.name()
    base_email = full_name.lower().replace(' ', '').replace('.', '') + '@logitrack.com'
    email = generate_unique_email(base_email)
    phone = fake.numerify(text='+7' + '#' * 10)
    password_hash = "pbkdf2:sha256:260000$..."
    role_id = 2  # operator
    cursor.execute("""
        INSERT INTO users (full_name, email, phone, password_hash, role_id)
        VALUES (%s, %s, %s, %s, %s);
    """, (full_name, email, phone, password_hash, role_id))

# ========================================
# 3. Создание курьеров (role_id = 3) из df
# ========================================
unique_courier_ids = data_couriers['courier_id'].unique()

for courier_id in unique_courier_ids:
    full_name = fake.name()
    base_email = full_name.lower().replace(' ', '').replace('.', '') + '@logitrack.com'
    email = generate_unique_email(base_email)
    phone = fake.numerify(text='+7' + '#' * 10)
    password_hash = "pbkdf2:sha256:260000$..."
    role_id = 3  # courier
    cursor.execute("""
        INSERT INTO users (full_name, email, phone, password_hash, role_id)
        VALUES (%s, %s, %s, %s, %s) RETURNING user_id;
    """, (full_name, email, phone, password_hash, role_id))
    user_id = cursor.fetchone()[0]

    # Привязка курьера к пользователю
    active = random.choice([True, False])
    cursor.execute("""
        INSERT INTO couriers (user_id, active)
        VALUES (%s, %s);
    """, (user_id, active))

# ========================================
# 4. Создание клиентов (role_id = 4) и заполнение clients
# ========================================
for i in range(1500):  # 1500 клиентов
    full_name = fake.name()
    base_email = full_name.lower().replace(' ', '').replace('.', '') + '@' + fake.domain_name()
    email = generate_unique_email(base_email)
    phone = fake.numerify(text='+7' + '#' * 10)
    password_hash = "pbkdf2:sha256:260000$..."
    role_id = 4  # client
    cursor.execute("""
        INSERT INTO users (full_name, email, phone, password_hash, role_id)
        VALUES (%s, %s, %s, %s, %s) RETURNING user_id;
    """, (full_name, email, phone, password_hash, role_id))
    user_id = cursor.fetchone()[0]

    address = fake.address()
    date_of_birth = fake.date_of_birth()
    sex = random.choice(['male', 'female'])
    cursor.execute("""
        INSERT INTO clients (user_id, address, date_of_birth, sex)
        VALUES (%s, %s, %s, %s);
    """, (user_id, address, date_of_birth, sex))

# ========================================
# 5. Создание транспорта (vehicles)
# ========================================
vehicle_types = ['truck', 'car', 'motorcycle', 'bicycle', 'van', 'scooter']
statuses = ['active', 'maintenance', 'out_of_service']

for _ in range(1000):  # 1000 транспортов
    vehicle_type = random.choice(vehicle_types)
    license_plate = fake.license_plate()
    capacity = round(random.uniform(100, 2000), 2)
    status = random.choice(statuses)
    cursor.execute("""
        INSERT INTO vehicles (type, license_plate, capacity, status)
        VALUES (%s, %s, %s, %s);
    """, (vehicle_type, license_plate, capacity, status))

# ========================================
# 6. Привязка транспорта к курьерам (ассоциативная таблица couriers_vehicles)
# ========================================
cursor.execute("SELECT courier_id FROM couriers;")
courier_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT vehicle_id FROM vehicles;")
vehicle_ids = [row[0] for row in cursor.fetchall()]

for courier_id in courier_ids:
    vehicle_id = random.choice(vehicle_ids)
    assigned_at = fake.date_time_this_year()
    cursor.execute("""
        INSERT INTO couriers_vehicles (courier_id, vehicle_id, assigned_at)
        VALUES (%s, %s, %s);
    """, (courier_id, vehicle_id, assigned_at))

# ========================================
# 7. Фиксация изменений
# ========================================
conn.commit()

print("Таблицы успешно заполнены.")

Таблицы успешно заполнены.

In [55]:
conn.rollback()

In [22]:
for item in items_data:
    item_name, description, price, weight_kg, length_cm, width_cm, height_cm = item
    cursor.execute("""
        INSERT INTO items (item_name, description, price, weight_kg, length_cm, width_cm, height_cm)
        VALUES (%s, %s, %s, %s, %s, %s, %s);
    """, (item_name, description, price, weight_kg, length_cm, width_cm, height_cm))
    
conn.commit()

In [37]:
from faker import Faker
import random

fake = Faker()

# Получаем ID типов
cursor.execute("SELECT location_type_id, location_type FROM location_types;")
type_map = {row[1]: row[0] for row in cursor.fetchall()}
store_type_id = type_map['store']
delivery_type_id = type_map['delivery_point']

# Убедимся, что у нас достаточно уникальных координат
unique_stores = data_delivery[['Store_Latitude', 'Store_Longitude']].drop_duplicates()
unique_drops = data_delivery[['Drop_Latitude', 'Drop_Longitude']].drop_duplicates()

# Выбираем ~150 магазинов и ~1350 точек доставки
n_stores = min(150, len(unique_stores))
n_drops = min(1350, len(unique_drops))

sample_stores = unique_stores.sample(n=n_stores).values
sample_drops = unique_drops.sample(n=n_drops).values

In [39]:
print(len(sample_stores), len(sample_drops))

150 1350

In [42]:
# Вставка магазинов
for lat, lng in sample_stores:
    address = fake.address()  # или None, если не нужен
    lat = float(lat)
    lng = float(lng)
    cursor.execute("""
        INSERT INTO locations (location_type_id, address, latitude, longitude)
        VALUES (%s, %s, %s, %s);
    """, (store_type_id, address, lat, lng))

# Вставка точек доставки
for lat, lng in sample_drops:
    lat = float(lat)
    lng = float(lng)
    address = fake.address()  # или None
    cursor.execute("""
        INSERT INTO locations (location_type_id, address, latitude, longitude)
        VALUES (%s, %s, %s, %s);
    """, (delivery_type_id, address, lat, lng))

conn.commit()

In [53]:
import ast
from collections import Counter

# Выбираем 100 случайных заказов
sample_orders = data_orders.sample(n=100, random_state=42)

# Получаем список client_id и status_id из БД
cursor.execute("SELECT client_id FROM clients;")
client_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT status_id FROM statuses;")
status_ids = [row[0] for row in cursor.fetchall()]

# Заполняем orders и order_items
for _, row in sample_orders.iterrows():
    # Парсим order_id и product_ids
    order_id = int(row['order_id'])
    product_ids_str = row['product_ids']
    
    # Преобразуем строку "[5, 23, 29, 29]" в список
    try:
        product_ids = ast.literal_eval(product_ids_str)
    except:
        print(f"Ошибка парсинга product_ids для order_id={order_id}: {product_ids_str}")
        continue

    # Выбираем случайного клиента и статус
    client_id = random.choice(client_ids)
    status_id = random.choice(status_ids)

    # Вставка в orders
    cursor.execute("""
        INSERT INTO orders (order_id, client_id, status_id, total_weight, total_price, comments)
        VALUES (%s, %s, %s, %s, %s, %s);
    """, (order_id, client_id, status_id, None, None, None))

    # Подсчитываем количество каждого item_id
    item_counts = Counter(product_ids)

    # Вставка в order_items
    for item_id, quantity in item_counts.items():
        if not (1 <= item_id <= 87):
            print(f"Пропущен недопустимый item_id={item_id} в order_id={order_id}")
            continue
        cursor.execute("""
            INSERT INTO order_items (order_id, item_id, ordered_quantity)
            VALUES (%s, %s, %s);
        """, (order_id, item_id, quantity))

# Фиксация
conn.commit()

print("100 заказов успешно добавлено в orders и order_items.")

100 заказов успешно добавлено в orders и order_items.

In [51]:
sample_orders[sample_orders['order_id']==32963]

       order_id   creation_time      product_ids
32962     32963  03/09/22 20:46  [5, 23, 29, 29]

In [56]:
# Получаем все location_id, которые являются магазинами (store)
cursor.execute("""
    SELECT l.location_id
    FROM locations l
    JOIN location_types lt ON l.location_type_id = lt.location_type_id
    WHERE lt.location_type = 'store';
""")
store_location_ids = [row[0] for row in cursor.fetchall()]

# Убедимся, что магазины есть
if not store_location_ids:
    raise ValueError("Нет магазинов (location_type = 'store') в таблице locations!")

# Диапазон ID товаров (предполагается, что item_id от 1 до 87)
all_item_ids = list(range(1, 88))  # 1..87

# Заполняем store_stock
for location_id in store_location_ids:
    # Сколько товаров будет в ассортименте этого магазина
    num_items = random.randint(20, 60)
    selected_items = random.sample(all_item_ids, num_items)

    for item_id in selected_items:
        quantity = random.randint(0, 15)
        cursor.execute("""
            INSERT INTO store_stock (location_id, item_id, quantity)
            VALUES (%s, %s, %s);
        """, (location_id, item_id, quantity))

# Фиксация
conn.commit()

In [57]:
from math import radians, sin, cos, sqrt, atan2

# ========================================
# Шаг 1: Загрузить все локации с координатами
# ========================================
cursor.execute("""
    SELECT location_id, latitude, longitude
    FROM locations
    WHERE latitude IS NOT NULL AND longitude IS NOT NULL;
""")
locations = cursor.fetchall()  # [(id, lat, lng), ...]

if not locations:
    raise ValueError("Нет локаций с координатами!")

# Преобразуем в DataFrame для удобства
df_locations = pd.DataFrame(locations, columns=['location_id', 'lat', 'lng'])

# ========================================
# Вспомогательная функция: расстояние между двумя точками (в км)
# ========================================
def haversine(lat1, lng1, lat2, lng2):
    R = 6371  # радиус Земли в км
    lat1, lng1, lat2, lng2 = map(radians, [lat1, lng1, lat2, lng2])
    dlat = lat2 - lat1
    dlng = lng2 - lng1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlng/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    return R * c

# ========================================
# Шаг 2: Сгруппировать локации в кластеры (простой подход)
# ========================================
used_locations = set()
routes_data = []  # [(route_name, [loc_ids]), ...]

# Создадим 100 маршрутов (можно изменить)
num_routes = 100

for route_idx in range(num_routes):
    if len(used_locations) >= len(df_locations):
        break

    # Выбираем случайную начальную точку
    available = df_locations[~df_locations['location_id'].isin(used_locations)]
    if available.empty:
        break

    start = available.sample(1).iloc[0]
    start_id = int(start['location_id'])
    start_lat, start_lng = start['lat'], start['lng']

    # Находим ближайшие 2–4 точки (всего 3–5 точек в маршруте)
    available['distance'] = available.apply(
        lambda row: haversine(start_lat, start_lng, row['lat'], row['lng']), axis=1
    )
    # Сортируем по расстоянию и берём 2–4 дополнительные точки
    nearby = available.nsmallest(random.randint(3, 5), 'distance')
    loc_ids = nearby['location_id'].astype(int).tolist()

    # Добавляем в использованные
    used_locations.update(loc_ids)
    routes_data.append((f"Route_{route_idx + 1}", loc_ids))

# ========================================
# Шаг 3: Получить order_id и courier_id
# ========================================
cursor.execute("SELECT order_id FROM orders;")
order_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT courier_id FROM couriers;")
courier_ids = [row[0] for row in cursor.fetchall()]

if not order_ids or not courier_ids:
    raise ValueError("Нет заказов или курьеров!")

# ========================================
# Шаг 4: Вставить маршруты и доставки
# ========================================
for route_name, loc_ids in routes_data:
    if not order_ids or not courier_ids:
        break  # закончились заказы/курьеры

    # Вставка в routes
    cursor.execute("""
        INSERT INTO routes (name, total_distance_km, total_time_min)
        VALUES (%s, %s, %s)
        RETURNING route_id;
    """, (route_name, None, None))
    route_id = cursor.fetchone()[0]

    # Вставка в route_points
    for seq_num, loc_id in enumerate(loc_ids, start=1):
        cursor.execute("""
            INSERT INTO route_points (route_id, sequence_num, location_id, expected_arrival_time, actual_arrival_time)
            VALUES (%s, %s, %s, %s, %s);
        """, (route_id, seq_num, loc_id, None, None))

    # Последняя точка — точка доставки
    delivery_location_id = loc_ids[-1]

    # Возьмём случайный заказ и курьера
    order_id = order_ids.pop()  # используем каждый заказ один раз
    courier_id = random.choice(courier_ids)

    # Вставка в deliveries
    cursor.execute("""
        INSERT INTO deliveries (order_id, courier_id, route_id, location_id, actual_delivery_datetime)
        VALUES (%s, %s, %s, %s, %s);
    """, (order_id, courier_id, route_id, delivery_location_id, None))

# Фиксация
conn.commit()

print(f"Создано {len(routes_data)} маршрутов и связанных доставок.")

/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.

Создано 100 маршрутов и связанных доставок.

/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(
/var/folders/ln/ndrg_ycn49sdp1d5xzh345600000gn/T/ipykernel_13608/1843650342.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  available['distance'] = available.apply(

In [31]:
import ast

# ========================================
# Заполнение order_items на основе data_orders
# ========================================
for _, row in data_orders.iterrows():
    order_id = row['order_id']
    product_ids_str = row['product_ids']  # например, "[65, 28]"

    # Преобразуем строку в список
    product_ids = ast.literal_eval(product_ids_str)

    for product_id in product_ids:
        ordered_quantity = random.randint(1, 5)  # случайное количество от 1 до 5
        print(order_id, product_id, ordered_quantity)
        cursor.execute("""
            INSERT INTO order_items (order_id, item_id, ordered_quantity)
            VALUES (%s, %s, %s);
        """, (order_id, product_id, ordered_quantity))

# ========================================
# Фиксация изменений
# ========================================
conn.commit()
print("Таблица order_items успешно заполнена.")

1 65 1

ForeignKeyViolation: insert or update on table "order_items" violates foreign key constraint "order_items_order_id_fkey"
DETAIL:  Key (order_id)=(1) is not present in table "orders".

In [33]:
conn.rollback()

In [18]:
data_delivery['Vehicle'].unique()

array(['motorcycle ', 'scooter ', 'van', 'bicycle '], dtype=object)

In [ ]:
# 2. Сбор уникальных координат для locations
# ========================================
locations_set = set()

# Добавляем точки из df (точки сбора)
for _, row in sample_pickup.iterrows():
    locations_set.add((row['lat'], row['lng'], 'pickup'))

# Добавляем точки из df_2 (пункты доставки)
for _, row in sample_delivery.iterrows():
    locations_set.add((row['lat'], row['lng'], 'delivery_point'))
    
# 3. Заполнение locations
# ========================================
for lat, lng, loc_type in locations_set:
    name = f"{loc_type} at {lat:.4f},{lng:.4f}"
    address = fake.address()
    cursor.execute("""
        INSERT INTO delivery_system.locations (name, type, address, latitude, longitude)
        VALUES (%s, %s, %s, %s, %s);
    """, (name, loc_type, address, lat, lng))

conn.commit()

In [16]:
from datetime import datetime, timedelta

# 4. Получение client_id и status_id из БД
# ========================================
cursor.execute("SELECT client_id FROM delivery_system.clients;")
client_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT status_id FROM delivery_system.statuses;")
status_ids = [row[0] for row in cursor.fetchall()]

# ========================================
# 5. Заполнение orders
# ========================================
def convert_to_datetime(date_str, year=None):
    if year is None:
        year = datetime.now().year
    full_date_str = f"{year}-{date_str}"
    return datetime.strptime(full_date_str, "%Y-%m-%d %H:%M:%S")

for _, row in sample_delivery.iterrows():
    client_id = random.choice(client_ids)
    status_id = random.choice(status_ids)
    order_date = convert_to_datetime(row['accept_time'])
    total_weight = round(random.uniform(1, 50), 2)
    total_price = round(random.uniform(100, 5000), 2)
    cursor.execute(f"SELECT address FROM delivery_system.locations WHERE type='delivery_point' AND latitude={row['lat']} AND longitude={row['lng']} LIMIT 1;")
    delivery_address = cursor.fetchone()[0]
    delivery_date = convert_to_datetime(row['accept_time']) + timedelta(days=random.randint(1, 15))

    cursor.execute("""
        INSERT INTO delivery_system.orders (order_id, client_id, order_date, status_id, total_weight, total_price, delivery_address, delivery_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
    """, (row['order_id'], client_id, order_date, status_id, total_weight, total_price, delivery_address, delivery_date))

conn.commit()

За содержимое заказа возьмем датасет о продажах мебели

In [22]:
furniture = pd.read_csv('ecommerce_furniture_dataset.csv')
furniture = furniture['productTitle']
furniture.head()

0    Dresser For Bedroom With 9 Fabric Drawers Ward...
1    Outdoor Conversation Set 4 Pieces Patio Furnit...
2    Desser For Bedroom With 7 Fabric Drawers Organ...
3    Modern Accent Boucle Chair,Upholstered Tufted ...
4    Small Unit Simple Computer Desk Household Wood...
Name: productTitle, dtype: object

In [23]:
furniture.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2000 entries, 0 to 1999
Series name: productTitle
Non-Null Count  Dtype
--------------  -----
2000 non-null   object
dtypes: object(1)
memory usage: 15.8+ KB

In [ ]:
cursor.execute("SELECT order_id FROM orders;")
order_ids = [row[0] for row in cursor.fetchall()]

for order_id in order_ids:
    num_items = random.randint(1, 4)
    for _ in range(num_items):
        item_name = random.choice(furniture)
        quantity = random.randint(1, 5)
        weight_kg = round(random.uniform(1, 50), 2)
        length_cm = round(random.uniform(5, 150), 2)
        width_cm = round(random.uniform(5, 90), 2)
        height_cm = round(random.uniform(5, 120), 2)
        # print(order_id, item_name, quantity, weight_kg, length_cm, width_cm, height_cm)
        cursor.execute("""
            INSERT INTO delivery_system.order_items (order_id, item_name, quantity, weight_kg, length_cm, width_cm, height_cm)
            VALUES (%s, %s, %s, %s, %s, %s, %s);
        """, (order_id, item_name, quantity, weight_kg, length_cm, width_cm, height_cm))
        
conn.commit()

In [35]:
for i in range(500):  # 500 маршрутов
    name = f"Маршрут {i+1}"
    total_distance_km = round(random.uniform(10, 300), 2)
    total_time_min = int(total_distance_km * 2)  # примерное время
    cursor.execute("""
        INSERT INTO delivery_system.routes (name, total_distance_km, total_time_min)
        VALUES (%s, %s, %s);
    """, (name, total_distance_km, total_time_min))

conn.commit()

In [36]:
# 2. Получение данных для route_points и deliveries
# ========================================
cursor.execute("SELECT route_id FROM delivery_system.routes;")
route_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT location_id, type FROM delivery_system.locations;")
locations = {row[0]: row[1] for row in cursor.fetchall()}  # {id: type}

cursor.execute("SELECT order_id FROM delivery_system.orders;")
order_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT courier_id FROM delivery_system.couriers;")
courier_ids = [row[0] for row in cursor.fetchall()]

cursor.execute("SELECT status_id FROM delivery_system.statuses;")
status_ids = [row[0] for row in cursor.fetchall()]

# ========================================
# 3. Заполнение route_points
# ========================================
for route_id in route_ids:
    # Случайно выбираем 1 склад (pickup) и 1–3 точки доставки
    pickup_locs = [lid for lid, loc_type in locations.items() if loc_type == 'pickup']
    delivery_locs = [lid for lid, loc_type in locations.items() if loc_type == 'delivery_point']

    if not pickup_locs or not delivery_locs:
        continue

    selected_pickup = random.choice(pickup_locs)
    selected_deliveries = random.sample(delivery_locs, random.randint(1, 3))

    all_locs = [selected_pickup] + selected_deliveries
    random.shuffle(all_locs)

    for idx, location_id in enumerate(all_locs):
        cursor.execute("""
            INSERT INTO delivery_system.route_points (route_id, location_id, sequence_num)
            VALUES (%s, %s, %s);
        """, (route_id, location_id, idx + 1))

conn.commit()

In [37]:
# 4. Заполнение deliveries
# ========================================
for order_id in order_ids:
    courier_id = random.choice(courier_ids)
    route_id = random.choice(route_ids)
    status_id = random.choice(status_ids)
    actual_delivery_datetime = fake.date_time_between(start_date='+1d', end_date='+15d')

    cursor.execute("""
        INSERT INTO delivery_system.deliveries (order_id, courier_id, route_id, status_id, actual_delivery_datetime)
        VALUES (%s, %s, %s, %s, %s);
    """, (order_id, courier_id, route_id, status_id, actual_delivery_datetime))

conn.commit()

In [34]:
conn.rollback()